# Node.js
node_modules/

# Express
dist/
node_modules/

# MongoDB
*.bson
*.dmp

# React
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Dependency directories
/.pnp
.pnp.js

# Yarn
yarn-error.log

# Miscellaneous
*.tmp
*.bak
*.swp
